body {
    background-color: rgba(5, 9, 56, 0.91);
    text-align: center;
}
p {
  color: rgb(255, 255, 255);
}

.marco-basico {
  border: 4px solid #333333;
}

div h2{
  color:rgb(20, 73, 189)
}
